.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat__header {
  height: 80px;
  background-color: blue;
}

.chat__message-ribbon {
  flex-grow: 1;
}

.chat__new-message {
}
.chat__message--in {
}
.chat__message--out {
}
.chat__footer {
  height: 100px;
  background-color: brown;
}
