.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat__header {
  height: 80px;
  border-bottom: 1px solid var(--color-gray);
}

.chat__message-ribbon {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}

.chat__footer {
  border-top: 1px solid var(--color-gray);
  padding-top: 11px;
  padding-bottom: 11px;
}

.header {
  display: flex;
  align-items: center;
}

.header__image {
  display: block;
  margin-right: 10px;
  border-radius: 9999px;
  background-color: var(--color-gray);
}

.header__title {
  flex-grow: 1;
  color: var(--color-black);
  font-weight: 600;
}
.header__button {
  margin-right: 7px;
}

.header__controls {
  width: 30px;
}

.header__controls::after {
  content: "\2807";
  font-size: 30px;
}
