.button {
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: var(--text-size-2);
  border-radius: 20px;
  border: 1px solid transparent;
}

.button--primary {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.button--text {
  outline: none;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

/* .button--arrow-right {
} */

.button--arrow-right::after {
  content: "";
  background-image: url("../../../static/svg/chevron.svg");
}
