@import url(../../css/main.css);
@import url(../../layouts/profile.css);
@import url(../../css/property/property.css);
@import url(../../css/link/link.css);

.profile__data {
  margin-bottom: 60px;
}

.profile__controls {
  display: flex;
  flex-direction: column;
}
.profile__controls-item {
  padding: 10px 0;
}
