---
title: Профиль пользователя
stylesheets:
  - ./profile.css  
---
{{!< profile}}

<div class="profile">
  <div class="profile__data">
  {{> property label="Почта" value = "macho@yandex.ru"}}
  {{> property label="Логин" value = "macho"}}
  {{> property label="Имя" value = "Иван"}}
  {{> property label="Фамилия" value = "Иванов"}}
  {{> property label="Имя в чате" value = "macho"}}
  {{> property label="Телефон" value = "+7 (913) 222 111"}}
  </div>
  <div class="profile__controls">
    <div class="profile__controls-item">
      {{> link href='./changedata/changedata.hbs' text="Изменить данные"}}
    </div>
    <div class="profile__controls-item">
      {{> link href='./changepassword/changepassword.hbs' text="Изменить пароль"}}
    </div>    
    
  </div>
</div>

