@import url('../../styles/profileLayout.css');

.profile__data {
  margin-bottom: 60px;
}

.profile__controls {
  display: flex;
  flex-direction: column;
}

.profile__controls-item {
  padding: 10px 0;
}
