@import url('../../styles/baseLayout.css');

.page-500 {
  margin-top: 100px;
  text-align: center;
  color: var(--text-color-main);
}

.page-500__message::before {
  content: '500';
  font-size: var(--text-size-1);
  display: block;
  margin-bottom: 20px;
}

.page-500__message::after {
  content: 'Уже чиним...';
  font-size: var(--text-size-2);
  display: block;
  margin-bottom: 20px;
}
