---
title: Что-то пошло не так
stylesheets:
  - ./500.css  
---
{{!< page}}
<div class='page-500'>
  <div class='page-500__message'>
  </div>
  {{> link href='../chats/chats.hbs' text="Назад к чатам"}}
</div>