@import url('../../../../../styles/variables.css');

.daily-message-ribbon {
  display: flex;
  flex-direction: column;
}

.daily-message-ribbon:last-child {
  padding-bottom: 20px;
}

.daily-message-ribbon__date {
  color: var(--color-dark-gray);
  margin: 0 auto;
  padding: 10px;
}

.daily-message-ribbon__message {
  max-width: 50%;
}

.daily-message-ribbon__message--in {
  align-self: start;
  margin: 10px 0;
}

.daily-message-ribbon__message--out {
  align-self: end;
  margin: 10px 0;
}
