@import url(../../css/main.css);
@import url(../../layouts/page.css);
@import url(../../css/card/card.css);
@import url(../../css/form/form.css);
@import url(../../css/link/link.css);

.signin-page {
  width: 390px;
}

.signin-page__form {
  margin-bottom: 14px;
}
.signin-page__link {
  margin: 0 auto;
}
