<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Регистрация</title>
  </head>
  <body>
    <div class='card'>
      <form class='form'>

        <label for='email'>Почта</label>
        <input type='email' name='email' class='form__field' />

        <label for='login'>Логин</label>
        <input type='text' name='login' class='form__field' />

        <label for='first_name'>Имя</label>
        <input type='text' name='first_name' class='form__field' />

        <label for='second_name'>Фамилия</label>
        <input type='text' name='second_name' class='form__field' />

        <label for='phone'>Телефон</label>
        <input type='tel' name='phone' class='form__field' />

        <label for='password'>Пароль</label>
        <input type='password' name='password' class='form__field' />

        <label for='password_confirm'>Пароль (еще раз)</label>
        <input type='password' name='password_confirm' class='form__field' />

        <button type='submit' class='form__button'>Зарегистрироваться</button>
      </form>
      <a href='/login' class='link'>Войти</a>
    </div>
  </body>
</html>