.new-message {
  display: flex;
  align-items: center;
  height: 100%;
}

.new-message__attach {
}
.new-message__input {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  border: 0px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--color-gray);
}

.new-message__button {
}
