.chat-list {
  display: flex;
  flex-direction: column;
}

.chat-list__search {
  margin: 0 auto;
  margin-bottom: 14px;
  width: 100%;
}

.chat-list__item {
  height: 72px;
  border-top: 1px solid var(--color-gray);
}
.chat-list__item--selected {
  background-color: var(--color-light-blue);
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: -1px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid var(--color-gray);
  border-top: 2px solid var(--color-gray);
}

.chat-list__item:last-child {
  border-bottom: 1px solid var(--color-gray);
}
