:root {
  --color-black: #1e1e1e;
  --color-white: #fff;
  --color-blue: ##3369f3;

  --text-color-main: var(--color-black);
  --text-size-1: 40px;
  --text-size-2: 20px;
  --text-size-3: 12px;
  --text-size-4: 11px;
}
