---
title: Здесь ничего нет
stylesheets:
  - ./404.css  
---
{{!< page}}
<div class='page-404'>
  <div class='page-404__message'>
  </div>
  {{> link href='../chats/chats.hbs' text="Назад к чатам"}}
</div>