.dialog {
  margin-top: calc(50vh - 100px);
  background: var(--color-white);
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
  border: none;
}

.dialog__buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
