.avatar {
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.avatar--128x128 {
  height: 128px;
  width: 128px;
}

.avatar__image {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url('../../../static/images/128x128.png');
}

.avatar__image--rounded {
  border-radius: 9999px;
}
