.button {
  color: inherit;
  cursor: pointer;
}

.button--text {
  outline: none;
  background-color: transparent;
  border-color: transparent;
}
.button--arrow-right {
}

.button--arrow-right::after {
  content: '';
  background-image: url('../../../static/svg/chevron.svg');
}

.button--text {
  outline: none;
  background-color: transparent;
  border-color: transparent;
}
