.search-field {
  border: none;
  background-color: var(--color-medium-gray);
  border-radius: 5px;
  color: var(--color-dark-gray);
  outline: none;
  font-size: var(--text-size-2);
  line-height: 1.5;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

.search-field:placeholder-shown {
  text-align: center;
  color: var(--color-dark-gray);
}
